<!-- Fixed navbar -->
<nav class="border-bottom navbar navbar-expand-md navbar-dark navbar fixed-top bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">EnigmaTheque</a>

    <script>
      const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
      const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new
        bootstrap.Popover(popoverTriggerEl))
    </script>


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    {{#if user}}
    <div class="collapse navbar-collapse d-flex" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light" data-bs-toggle="dropdown" href="#" role="button"
            aria-expanded="false">Enigmes & solutions
          </a>
          {{! liste enigmes }}
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/enigme?q=facile">Facile</a></li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li><a class="dropdown-item" href="/enigme?q=normal">Normal</a></li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li><a class="dropdown-item" href="/enigme?q=difficile">Difficile</a></li>
          </ul>
          {{! deux pages suivantes }}
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="/proposer">Proposer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="/devinettes?q=Devinettes">Devinettes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="/lesage?q=du Sage">Le sage</a>
          {{!-- "le querry au dessus c'est possible ?" --}}
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="/profil/{{user.id}}">Profil</a>
        </li>
        {{#if user.isAdmin}}
            <li class="nav-item">
          <a class="nav-link text-light" href="/admin">Admin</a>
        </li>
        {{/if}}
      </ul>
      {{! Deconnexion }}
      <form action="/logout" method="post">
      <a class="text-light text-decoration-none m-5" href="/profil/{{user.id}}">Vous êtes connecter en tant que: {{ upper user.name}}</a>
        <button type="submit" class="text-light btn btn-danger me-2" data-bs-target="#staticBackdrop">Deconnexion
        </button>
      </form>


    </div>
    {{else}}
    {{#if flash}}
          <h3 style="color:white;">{{this.flash}}</h3>
          {{/if}}
    <div class="d-flex justify-content-end justify-content-center ">
      <button type="button" class="text-dark btn btn-secondary me-2" data-bs-toggle="modal"
        data-bs-target="#staticBackdrop">Connexion</button>

      <a href="/inscription">



        <button type="button" class="text-dark btn btn-secondary">Inscription</button>

      </a>

    </div>
    {{/if}}
  </div>
</nav>
{{! modal }}



<div class="modal fade " id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog modal-dialog-centered">
    <div class="modal-content bg-success">
      <div class="modal-header">
        <h1 class="modal-title" id="staticBackdropLabel">Connexion</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="/login" method="post">
        <div class="modal-body">
          {{#if flash}}
          <h3 style="color:white;">{{this.flash}}</h3>
          {{/if}}
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">E-mail</label>
            <input type="email" name="email" class="form-control" id="exampleInputEmail1"
              aria-describedby="emailHelp" />
            <div id="emailHelp" class="form-text text-light">Nous ne partagerons
              jamais votre adresse électronique avec qui que ce soit.</div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Mot de passe</label>
            <input name="password" type="password" class="form-control" id="exampleInputPassword1" />
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Mot de passe oublié
          </button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer
          </button>
          <button type="submit" class="btn btn-primary">Envoyer</button>
        </div>
      </form>
    </div>
  </div>
</div>