{{#each}}
  <div class="col-md-12 mh100 decallageTop">
    <div class="col-md-12 d-flex justify-content-center mb-5">
      <img src="/assets/images/chapeau-etudiant.jpg" alt="" />
    </div>
    <div class="boite row col-md-12">
      <h1 class="text-center mb-3">{{this.titreEnigme}}</h1>
      <p class="text-center ms-3">
        {{this.para}}
      </p>

    </div>
    <div class="col-md-12 d-flex justify-content-center mb-3">
      <input type="text" placeholder="votre texte içi" />
    </div>
    <div class="col-md-12 d-flex justify-content-center">
      <button>répondre</button>
    </div>

  </div>
{{/each}}
{{!-- 
{{#each (limit kakawait 3) }}

      <div id="{{@index}}-{{this.name}}" class="col-md-4">
        <div class="card border-0" style="width: 18rem;">
          <img src="{{ this.image }}" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title"> {{ @index }} {{ this.id }} {{ upper this.name }}</h5>
            <p class="card-text">{{ this.description }}</p>
          </div>
        </div>
      </div>

      {{/each }} --}}