<div class="container col-md-12 mh100">
  <h1 class="text-center decallageTop">Page admin</h1>
  <div class="col-md-12 row">
    {{!--------------------------------------------------------------------------}}
    {{!--------------------------------------------------------------------------}}
    {{! Pills }}
    {{! Creation des Pills }}
    <ul class="nav nav-pills bg-light mb-2 p-2 justify-content-around" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
          type="button" role="tab" aria-controls="pills-home" aria-selected="true">Enigme proposer par un
          utilisateur</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-message-tab" data-bs-toggle="pill" data-bs-target="#pills-message"
          type="button" role="tab" aria-controls="pills-message" aria-selected="false">Messages reçus</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-utilisateur-tab" data-bs-toggle="pill" data-bs-target="#pills-utilisateur"
          type="button" role="tab" aria-controls="pills-utilisateur" aria-selected="false">Utilisateurs</button>
      </li>
    </ul>
    {{!--------------------------------------------------------------------------}}
    {{!--------------------------------------------------------------------------}}
    {{! Insertion du contenu dans les pills }}
    {{! Enigme proposer par un user }}
    <div class="tab-content  p-0" id="pills-tabContent">
      {{!--------------------------------------------------------------------------}}
      {{!--------------------------------------------------------------------------}}
      {{!-- debut du conteneur admin --}}
      <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"
        tabindex="0">

        {{#each dbEnigmes}}

        <div class="col-md-12 text-dark m-0 row">
          {{!--------------------------------------------------------------------------}}
          {{!--------------------------------------------------------------------------}}
          {{!--------------------------------------------------------------------------}}
          {{!--------------------------------------------------------------------------}}
          {{! Enigme proposer}}
          <div class="col-md-12 bg-dark text-light m-0 p-0 row mb-1">
            <div class="col-md-2 d-flex bg-success m-0 justify-content-center align-items-center">

              <link rel="stylesheet"
                href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
              <div class="text-center ">
                <h2> {{ upper this.name }} : {{this.id_enigme}} </h2>
                <div class="col-md-12 m-3  ">
                  <label class=" text-light" for="">Enigme verifiée</label>
                  <input type="checkbox" id="isVerified{{ this.id_enigme }}" name="is_Verified"
                    class="bg-successform-check-input" disabled="disabled" />
                </div>
                {{!-- <p> {{ this.is_Verified }} </p> --}}
              </div>

            </div>
            <div class="col-md-10 mt-2" data-bs-toggle="modal" data-bs-target="#enigme-{{this.id_enigme}}">
              <h3>
                {{! data-bs-toggle="modal" data-bs-target="#exampleModal" }}
                Titre: {{this.titre}}
              </h3>
              <p class="text-left">Enigme: {{{this.content}}}</p>
              <p class="col-md-12">Solution: {{{this.solus}}}</p>

            </div>

          </div>

          {{!--------------------------------------------------------------------------}}
          {{!--------------------------------------------------------------------------}}
          {{!--------------------------------------------------------------------------}}
          {{!--------------------------------------------------------------------------}}
          {{! modal d'énigme }}
          <div class="modal fade" data-bs-backdrop="static" id="enigme-{{this.id_enigme}}" tabindex="-1"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title text-dark" id="exampleModalLabel">Enigme reçu</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-dark">
                  <form action="/updateEnigme/{{ this.id_enigme }}?_method=PUT" method="post">
                    <div class="container bg-secondary text-dark p-3 mb-6 mt-2">
                      <div class="row d-flex justify-content-center">

                        <label for="titre" class="form-label  p-2 ps-0">Votre titre</label>
                        <input type="text" class="form-control border-success align-items-center mb-3"
                          placeholder="Titre de votre énigme" id="titre" aria-describedby="titre"
                          value="{{ this.titre }}" name="titre" />

                        <div class="col-md-12 p-0 ">
                          <p>Niveau de difficulté<br />
                            <select name="difficulty" class="form-control" aria-required="true" aria-invalid="false"
                              value="{{ this.difficulty }}">
                              <option value="1">Facile</option>
                              <option value="2">Normal</option>
                              <option value="3">Difficile</option>
                            </select>
                            </span>
                        </div>

                        <div class="row d-flex justify-content-around w-100">
                          <label for="content" class="form-label p-2 ps-0">Enigme que vous proposer</label>
                          <textarea id="editorEnigme{{ this.id_enigme }}"
                            placeholder="Votre Enigme" class="border-success justify-content-center" cols="70" rows="10"
                            name="content">{{ this.content }}
                          </textarea>
                        </div>


                        <div class="row d-flex justify-content-around w-auto">
                          <label for="solus" class="form-label p-2 ps-0">Réponse à votre énigme</label>
                          <textarea name="solus" id="editorSolus{{ this.id_enigme }}" placeholder="Votre Solution"
                            class="border-success" id="solus" cols="70" rows="15" name="solus">{{ this.solus }}
                          </textarea>
                        </div>
                        <div class="col-md-12 m-0 ">
                          <label class="mt-2 text-dark" for="">Enigme verifiée</label>
                          <input type="checkbox" id="isVerified{{ this.id_enigme }}" name="is_Verified"
                            class="bg-successform-check-input" />
                        </div>


                        {{!--------------------------------------------------------------------------}}
                        {{!--------------------------------------------------------------------------}}
                        {{!-- modifier l'énigme --}}
                        <button type="submit" class="m-0 btn btn-labeled btn-success col-md-12">
                          <span class="btn-label"><i class="fa fa-check m-1"></i></span>Valider
                        </button>
                  </form>
                  <script>
                    const isVerified{{ this.id_enigme }} = document.getElementById('isVerified{{this.id_enigme}}')
                    const vrf{{ this.id_enigme }} = {{ this.is_Verified }}
                    if (vrf{{ this.id_enigme }}.toString() === "1" ) isVerified{{ this.id_enigme }}.checked = true;

                  </script>
                  {{!--------------------------------------------------------------------------}}
                  {{!--------------------------------------------------------------------------}}
                  {{!-- Supprimer l'énigme --}}
                  <form action="/deleteEnigme/{{ this.id_enigme }}?_method=DELETE" method="post"
                    class="p-0 m-2 d-flex justify-content-center">
                    <button type="submit" class=" btn btn-labeled btn-danger col-md-12 ">
                      <span class="btn-label"><i class="fa fa-remove m-1 pe-1"></i></span>Retirer
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{!-- import de ck editor --}}
    <script src="/assets/js/build/ckeditor.js"></script>
    <script type="text/javascript">

                ClassicEditor.create( document.querySelector( '#editorEnigme{{ this.id_enigme }}' ) )
                .then( editor => { window.editor = editor; } ) .catch( error =>
                { console.error( 'Problème rencontré.',
                error ); } );

                ClassicEditor.create( document.querySelector( '#editorSolus{{ this.id_enigme }}' ) )
                .then( editor => { window.editor = editor; } ) .catch( error =>
                { console.error( 'Problème rencontré.',
                error ); } );

    </script>

    {{/each}}
    {{!-- ckeditor boucle --}}

  </div>

  {{!--------------------------------------------------------------------------}}
  {{!--------------------------------------------------------------------------}}
  {{!-- Fin des énigmes proposées --}}
  {{!--------------------------------------------------------------------------}}
  {{!--------------------------------------------------------------------------}}




  <div class="tab-pane fade p-0" id="pills-message" role="tabpanel" aria-labelledby="pills-message-tab" tabindex="0">
    {{!--------------------------------------------------------------------------}}
    {{!--------------------------------------------------------------------------}}
    {{!--------------------------------------------------------------------------}}
    {{!--------------------------------------------------------------------------}}
    {{!-- Message recus --}}
    {{#each dbMessage}}
    <div class="col-md-12 bg-dark m-0 text-light  mb-1 row  p-0">
      <div class="col-md-2 bg-success d-flex justify-content-center align-items-center">

        <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        <div class="center">
          <h2>{{this.name}} </h2>
        </div>

      </div>
      <div class="col-md-7">
        <h3 class="text-left"><a href="#" class="text-decoration-none text-light">Sujet: {{this.sujet}}</a></h3>
        <p class="text-left">Message: {{this.message}}</p>

      </div>
      <div class="col-md-1 d-flex justify-content-center align-items-center me-3">
        <form action="/deleteMessage/{{this.id}}?_method=DELETE" method="post">
          <button type="submit" class="btn btn-labeled btn-danger">
            <span class="btn-label"><i class="fa fa-check m-1"></i></span>Suprimer
          </button>
        </form>

      </div>
      <form action="/mailReply" method="post" class="col-md-1 d-flex justify-content-center align-items-center">
        <div class="col-md-1 d-flex justify-content-center align-items-center">
          <button type="button" class="btn btn-labeled btn-light" data-bs-toggle="modal"
            data-bs-target="#messageModal{{@index}}">
            <span class="btn-label"><i class="fa fa-check m-1"></i></span>Répondre
          </button>
        </div>
      </form>

    </div>
    {{!--------------------------------------------------------------------------}}
    {{!--------------------------------------------------------------------------}}
    {{!-- Fin Message recus --}}
    {{!--------------------------------------------------------------------------}}
    {{!--------------------------------------------------------------------------}}

    {{/each}}
  </div>





  <div class="tab-pane fade" id="pills-utilisateur" role="tabpanel" aria-labelledby="pills-utilisateur-tab"
    tabindex="0">
    {{#each dbMembres}}

    <div class="col-md-12 bg-dark border-top border-success border-5 text-light m-0 row mb-1 ">
      {{!--------------------------------------------------------------------------}}
      {{!--------------------------------------------------------------------------}}
      {{!-- Membres du site --}}
      {{!--------------------------------------------------------------------------}}
      {{!--------------------------------------------------------------------------}}

      <div
        class=" bg-success d-flex justify-content-center align-items-center border-light border-bottom border-2 col-lg-12 ">

        <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        <div class="center">
          <h2> {{ this.name }}</h2>
        </div>

      </div>
      <div class="col-lg-12 d-flex justify-content-center align-items-center border-light border-bottom border-2 ">
        <h3 class="text-center"><a href="#" class="text-decoration-none text-light center fs-5 ">{{this.email}}</a>
        </h3>

      </div>

      <div class="d-flex justify-content-center p-0 align-items-center border-light border-bottom border-2 col-lg-12">

        <form action="/checkRoles?_method=PUT" method="post"
          class="d-flex justify-content-end align-items-center col-lg-6">
          <button type="button" class="h-50 d-flex align-items-center btn btn-labeled btn-light m-1 p-1" name="isAdmin">
            <div class="form-check form-switch">
              <span class="btn-label"><i data-bs-toggle="popover" data-bs-placement="top"
                  data-bs-content="Administrateur" class="fs-4 fa-solid fa-image-portrait text-dark"></i></span>
              <input class="form-check-input" type="checkbox" role="switch" id="is_Admin{{ this.id }}" disabled="disabled" >
            </div>
          </button>
          <script>
                    const is_Admin{{ this.id }} = document.getElementById('is_Admin{{this.id}}')
                    const vrf3{{ this.id }} = {{ this.isAdmin }}
                    if (vrf3{{ this.id }}.toString() === "1" ) is_Admin{{ this.id }}.checked = true;
         </script>

          <button type="button" class="h-50 d-flex align-items-center btn btn-labeled btn-light m-1 p-1" name="isBan" >
            <div class="form-check form-switch ">
              <span class="btn-label"><i data-bs-toggle="popover" data-bs-placement="top"
                  data-bs-content="Utilisateur banni" class="fs-4 fa-solid fa-user-slash  text-danger"></i></span>
              <input class="form-check-input" type="checkbox" role="switch" id="is_Ban{{this.id}}" disabled="disabled">
            </div>
          </button>
            <script>
                    const is_Ban{{ this.id }} = document.getElementById('is_Ban{{this.id}}')
                    const vrf3{{ this.id }} = {{ this.isBan }}
                    if (vrf3{{ this.id }}.toString() === "1" ) is_Ban{{ this.id }}.checked = true;
         </script>

          <button type="submit" disabled="disabled" 
            class=" btn btn-labeled btn-light mt-3 mb-3 d-flex  justify-content-center align-items-center">
            <a class="text-decoration-none" >
              <div class="row">

                <p class="d-flex align-items-center m-2 h-100">Modifier</p>
              </div>
            </a>
          </button>
        </form>
        <div class="d-flex justify-content-start align-items-center col-lg-6">
          <button type="button" class="h-50 d-flex align-items-center btn btn-labeled btn-light m-2 p-1 ">
            <div class="form-check form-switch">
              <span class="btn-label"><i data-bs-toggle="popover" data-bs-placement="top"
                  data-bs-content="Utilisateur verifier" class="fs-4 fa-solid fa-user-check text-warning"></i></span>
              <input class="form-check-input" type="checkbox" role="switch" id="is_Verified{{ this.id }}" name="isVerified" disabled="disabled" >
            </div>
          </button>
          <button type="button"
            class="h-50  btn btn-labeled btn-light mt-3 mb-3 d-flex justify-content-center align-items-center m-0 p-0">
            <a class="text-decoration-none" href="/profil/{{this.id}}">
              <div class="row">

                <p class="d-flex align-items-center m-0">Profil<span class="btn-label"><i
                      class="fs-4 fa-solid fa-eye text-success m-2"></i></span>
                </p>
              </div>
            </a>
          </button>
          <script>
                    const is_Verified{{ this.id }} = document.getElementById('is_Verified{{this.id}}')
                    const vrf2{{ this.id }} = {{ this.isVerified }}
                    if (vrf2{{ this.id }}.toString() === "1" ) is_Verified{{ this.id }}.checked = true;
         </script>
               {{!-- console.log('test', is_Verified{{this.id}}, typeof vrf{{this.id}}, (vrf2{{this.id}}.toString() === "1")) --}}
        </div>

      </div>

      <script src="/assets/js/popoverEverywhere.js"></script>
      {{!--------------------------------------------------------------------------}}
      {{!-- Fin des membres du site --}}
      {{!--------------------------------------------------------------------------}}

    </div>
    {{!--
    <script src="../../../public/js/adminCheck.js"></script> --}}


    {{/each}}
  </div>






  {{! End Pills }}
  {{! bas de page }}

</div>

{{! modal de réponse au message }}
{{#each dbMessage}}

<div class="modal fade bg-success" id="messageModal{{@index}}" data-bs-backdrop="static" data-bs-keyboard="false"
  tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-dark">
      <div class="modal-header bg-light">
        <h5 class="modal-title text-dark" id="staticBackdropLabel">Réponse au utilisateurs</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <form action="/mailReply" method="post" class="opacity-75 p-5">
        <div class="col-md-12">
          <div class="mb-6">
            <label for="exampleInputEmail1" class="form-label">Mon nom d'utilisateur</label>
            <input name="id_user" type="text" value="{{this.name}}" class="form-control" aria-describedby="emailHelp" />
          </div>
          <div class="mb-6">
            <label for="exampleInputPassword" class="form-label mt-2">Mon email:</label>
            <input name="email" type="email" value="{{this.email}}" class="form-control" />
          </div>
        </div>

        <p>Sujet<br />
          <span class="wpcf7-form-control-wrap menu-742">
            <input name="sujet" type="text" class="form-control" value="{{this.sujet}}" />
          </span>
        </p>
        <div class="container">
          <div class="row">
            <label for="exampleInputEmail1" class="form-label p-0">Tapez votre message ci-dessous</label>
            <textarea name="content" placeholder="Votre text içi" cols="70" rows="5"></textarea>

          </div>
          <div class="container">
            <div class="row d-flex justify-content-center">
              <button type="submit" class="mt-2 w-auto btn btn-primary">Envoyer</button>
            </div>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>
{{/each}}

{{!--------------------------------------------------------------------------}}
{{!--------------------------------------------------------------------------}}
{{!--------------------------------------------------------------------------}}
{{!--------------------------------------------------------------------------}}