<div class="container col-md-12 mh100">
  <h1 class="text-center decallageTop">Page admin</h1>
  <div class="col-md-12 row">
    {{!--------------------------------------------------------------------------}}
    {{!--------------------------------------------------------------------------}}
    {{! Pills }}
    {{! Creation des Pills }}
    <ul class="nav nav-pills bg-light mb-2 p-2 justify-content-around" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
          type="button" role="tab" aria-controls="pills-home" aria-selected="true">Enigme proposer par un
          utilisateur</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-message-tab" data-bs-toggle="pill" data-bs-target="#pills-message"
          type="button" role="tab" aria-controls="pills-message" aria-selected="false">Messages reçus</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-utilisateur-tab" data-bs-toggle="pill" data-bs-target="#pills-utilisateur"
          type="button" role="tab" aria-controls="pills-utilisateur" aria-selected="false">Utilisateurs</button>
      </li>
    </ul>
    {{!--------------------------------------------------------------------------}}
    {{!--------------------------------------------------------------------------}}
    {{! Insertion du contenu dans les pills }}
    {{! Enigme proposer par un user }}
    <div class="tab-content  p-0" id="pills-tabContent">
      {{!--------------------------------------------------------------------------}}
      {{!--------------------------------------------------------------------------}}
      {{!-- debut du conteneur admin --}}
      <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"
        tabindex="0">
       
  {{!-- <ul class="pagination">
    <li class="page-item ">
      <a class="page-link" href="#" tabindex="-1">Précedent</a>
    </li>
    <li class="page-item active"><a class="page-link" href="#">1</a></li>
    <li class="page-item ">
      <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
    </li>
    <li class="page-item"><a class="page-link" href="{{id_enigme}}+1">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Suivant</a>
    </li>
  </ul> --}}

        {{#each dbEnigmes}}

        <div class="col-md-12 text-dark m-0 row">
          {{!--------------------------------------------------------------------------}}
          {{!--------------------------------------------------------------------------}}
          {{!--------------------------------------------------------------------------}}
          {{!--------------------------------------------------------------------------}}
          {{! Enigme proposer}}
          <div class="col-md-12 bg-dark text-light m-0 p-0 row mb-1">
            <div class="col-md-2 d-flex bg-success m-0 justify-content-center align-items-center">

              <link rel="stylesheet"
                href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
              <div class="text-center ">
                <h2> {{ upper this.name }} : {{this.id_enigme}} </h2>
                <div class="col-md-12 m-3  ">
                          <label class=" text-light" for="">Enigme verifiée</label>
                          <input type="checkbox" id="isVerified{{ this.id_enigme }}" name="is_Verified"
                            class="bg-successform-check-input" />
                        </div>
                {{!-- <p> {{ this.is_Verified }} </p> --}}
              </div>

            </div>
            <div class="col-md-10 mt-2" data-bs-toggle="modal" data-bs-target="#enigme-{{this.id_enigme}}">
              <h3>
                {{! data-bs-toggle="modal" data-bs-target="#exampleModal" }}
                Titre: {{this.titre}}
              </h3>
              <p class="text-left">Enigme: {{{this.content}}}</p>
              <p class="col-md-12">Solution: {{{this.solus}}}</p>

            </div>

          </div>

          {{!--------------------------------------------------------------------------}}
          {{!--------------------------------------------------------------------------}}
          {{!--------------------------------------------------------------------------}}
          {{!--------------------------------------------------------------------------}}
          {{! modal d'énigme }}
          <div class="modal fade" data-bs-backdrop="static" id="enigme-{{this.id_enigme}}" tabindex="-1"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title text-dark" id="exampleModalLabel">Enigme reçu</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-dark">
                  <form action="/updateEnigme/{{ this.id_enigme }}?_method=PUT" method="post">
                    <div class="container bg-secondary text-dark p-3 mb-6 mt-2">
                      <div class="row">

                        <label for="titre" class="form-label  p-2 ps-0">Votre titre</label>
                        <input type="text" class="form-control border-success align-items-center mb-3"
                          placeholder="Titre de votre énigme" id="titre" aria-describedby="titre"
                          value="{{ this.titre }}" name="titre" />

                        <div class="col-md-12 p-0 ">
                          <p>Niveau de difficulté<br />
                            <select name="difficulty" class="form-control" aria-required="true" aria-invalid="false"
                              value="{{ this.difficulty }}">
                              <option value="1">Facile</option>
                              <option value="2">Normal</option>
                              <option value="3">Difficile</option>
                            </select>
                            </span>
                        </div>

                        <label for="content" class="form-label p-2 ps-0">Enigme que vous proposer</label>
                        <textarea name="content" id="editorEnigme{{ this.id_enigme }}" placeholder="Votre Enigme"
                          class="border-success" cols="70" rows="15" name="content">{{ this.content }}
                        </textarea>


                        <label for="solus" class="form-label p-2 ps-0">Réponse à votre énigme</label>
                        <textarea name="solus" id="editorSolus{{ this.id_enigme }}" placeholder="Votre Solution"
                          class="border-success" id="solus" cols="70" rows="15" name="solus">{{ this.solus }}
                        </textarea>
                        <div class="col-md-12 m-0 ">
                          <label class=" text-dark" for="">Enigme verifiée</label>
                          <input type="checkbox" id="isVerified{{ this.id_enigme }}" name="is_Verified"
                            class="bg-successform-check-input" />
                        </div>


                        {{!--------------------------------------------------------------------------}}
                        {{!--------------------------------------------------------------------------}}
                        {{!-- modifier l'énigme --}}
                        <button type="submit" class="m-0 btn btn-labeled btn-success col-md-12">
                          <span class="btn-label"><i class="fa fa-check m-1"></i></span>Valider
                        </button>
                  </form>
                    <script>

                        const isVerified{{this.id_enigme}} = document.getElementById('isVerified{{this.id_enigme}}')
                        const vrf{{this.id_enigme}} = {{this.is_Verified}}
                        if (vrf{{this.id_enigme}}.toString() === "1" ) isVerified{{ this.id_enigme }}.checked = true;

                        console.log('test', isVerified{{this.id_enigme}}, typeof vrf{{this.id_enigme}}, (vrf{{this.id_enigme}}.toString() === "1"))

                    </script>
                  {{!--------------------------------------------------------------------------}}
                  {{!--------------------------------------------------------------------------}}
                  {{!-- data-bs-dismiss="modal" --}}
                  {{!-- envoyer l'énigme // Valider l'enigme pour faire la modif sur is_verified--}}


                  {{!-- <form action="/insertEnigme/{{ this.id_enigme }}?_method=PUT" method="post">
                    <button type="submit" class="m-2 btn btn-labeled btn-success col-md-12">
                      <span class="btn-label"><i class="fa fa-check m-1"></i></span>Valider
                    </button>
                  </form> --}}



                  {{!--------------------------------------------------------------------------}}
                  {{!--------------------------------------------------------------------------}}
                  {{!-- Supprimer l'énigme --}}
                  <form action="/deleteEnigme/{{ this.id_enigme }}?_method=DELETE" method="post" class="p-0 m-0">
                    <button type="submit" class="m-0 btn btn-labeled btn-danger mt-3 col-md-12">
                      <span class="btn-label"><i class="fa fa-remove m-1"></i></span>Retirer
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <script>
      CKEDITOR.ClassicEditor.create(document.getElementById("editorEnigme{{ this.id_enigme }}"), {

    toolbar: {
      items: [
        'exportWord', '|',
        'findAndReplace', 'selectAll', '|',
        'heading', '|',
        'bold', 'italic', 'strikethrough', 'underline', 'removeFormat', '|',
        'bulletedList', 'numberedList', 'todoList', '|',
        'outdent', 'indent', '|',
        'undo', 'redo',
        '-',
        'fontSize', 'fontFamily', 'fontColor', 'fontBackgroundColor', 'highlight', '|',
        'alignment', '|',
        'link', 'blockQuote', '|',
        'specialCharacters', 'horizontalLine', 'pageBreak', '|',
        'textPartLanguage', '|'
      ],
      shouldNotGroupWhenFull: true
    },

    list: {
      properties: {
        styles: true,
        startIndex: true,
        reversed: true
      }
    },
    heading: {
      options: [
        { model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph' },
        { model: 'heading1', view: 'h1', title: 'Heading 1', class: 'ck-heading_heading1' },
        { model: 'heading2', view: 'h2', title: 'Heading 2', class: 'ck-heading_heading2' },
        { model: 'heading3', view: 'h3', title: 'Heading 3', class: 'ck-heading_heading3' },
        { model: 'heading4', view: 'h4', title: 'Heading 4', class: 'ck-heading_heading4' },
        { model: 'heading5', view: 'h5', title: 'Heading 5', class: 'ck-heading_heading5' },
        { model: 'heading6', view: 'h6', title: 'Heading 6', class: 'ck-heading_heading6' }
      ]
    },
    placeholder: 'Votre texte ici!',
    fontFamily: {
      options: [
        'default',
        'Arial, Helvetica, sans-serif',
        'Courier New, Courier, monospace',
        'Georgia, serif',
        'Lucida Sans Unicode, Lucida Grande, sans-serif',
        'Tahoma, Geneva, sans-serif',
        'Times New Roman, Times, serif',
        'Trebuchet MS, Helvetica, sans-serif',
        'Verdana, Geneva, sans-serif'
      ],
      supportAllValues: true
    },
    fontSize: {
      options: [10, 12, 14, 'default', 18, 20, 22],
      supportAllValues: true
    },
    htmlSupport: {
      allow: [
        {
          name: /.*/,
          attributes: true,
          classes: true,
          styles: true
        }
      ]
    },
    htmlEmbed: {
      showPreviews: true
    },
    link: {
      decorators: {
        addTargetToExternalLinks: true,
        defaultProtocol: 'https://',
        toggleDownloadable: {
          mode: 'manual',
          label: 'Downloadable',
          attributes: {
            download: 'file'
          }
        }
      }
    },
    mention: {
      feeds: [
        {
          marker: '@',
          feed: [
            '@apple', '@bears', '@brownie', '@cake', '@cake', '@candy', '@canes', '@chocolate', '@cookie', '@cotton', '@cream',
            '@cupcake', '@danish', '@donut', '@dragée', '@fruitcake', '@gingerbread', '@gummi', '@ice', '@jelly-o',
            '@liquorice', '@macaroon', '@marzipan', '@oat', '@pie', '@plum', '@pudding', '@sesame', '@snaps', '@soufflé',
            '@sugar', '@sweet', '@topping', '@wafer'
          ],
          minimumCharacters: 1
        }
      ]
    },

    removePlugins: [
      // These two are commercial, but you can try them out without registering to a trial.
      // 'ExportPdf',
      // 'ExportWord',
      'CKBox',
      'CKFinder',
      'EasyImage',
      // This sample uses the Base64UploadAdapter to handle image uploads as it requires no configuration.
      // https://ckeditor.com/docs/ckeditor5/latest/features/images/image-upload/base64-upload-adapter.html
      // Storing images as Base64 is usually a very bad idea.
      // Replace it on production website with other solutions:
      // https://ckeditor.com/docs/ckeditor5/latest/features/images/image-upload/image-upload.html
      // 'Base64UploadAdapter',
      'RealTimeCollaborativeComments',
      'RealTimeCollaborativeTrackChanges',
      'RealTimeCollaborativeRevisionHistory',
      'PresenceList',
      'Comments',
      'TrackChanges',
      'TrackChangesData',
      'RevisionHistory',
      'Pagination',
      'WProofreader',
      // Careful, with the Mathtype plugin CKEditor will not load when loading this sample
      // from a local file system (file://) - load this site via HTTP server if you enable MathType
      'MathType'
    ]
  });
    </script>
    {{!-- ------------------------------------------------------------------ --}}
    {{!-- ------------------------------------------------------------------ --}}
    {{!-- ------------------------------------------------------------------ --}}
    {{!-- ------------------------------------------------------------------ --}}
    {{!-- ------------------------------------------------------------------ --}}
    {{!-- REMOVE --}}
    <script>
      CKEDITOR.ClassicEditor.create(document.getElementById("editorSolus{{ this.id_enigme }}"), {

	toolbar: {
	  items: [
		'exportWord', '|',
		'findAndReplace', 'selectAll', '|',
		'heading', '|',
		'bold', 'italic', 'strikethrough', 'underline', 'removeFormat', '|',
		'bulletedList', 'numberedList', 'todoList', '|',
		'outdent', 'indent', '|',
		'undo', 'redo',
		'-',
		'fontSize', 'fontFamily', 'fontColor', 'fontBackgroundColor', 'highlight', '|',
		'alignment', '|',
		'link', 'blockQuote', '|',
		'specialCharacters', 'horizontalLine', 'pageBreak', '|',
		'textPartLanguage', '|'
	  ],
	  shouldNotGroupWhenFull: true
	},

	list: {
	  properties: {
		styles: true,
		startIndex: true,
		reversed: true
	  }
	},
	heading: {
	  options: [
		{ model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph' },
		{ model: 'heading1', view: 'h1', title: 'Heading 1', class: 'ck-heading_heading1' },
		{ model: 'heading2', view: 'h2', title: 'Heading 2', class: 'ck-heading_heading2' },
		{ model: 'heading3', view: 'h3', title: 'Heading 3', class: 'ck-heading_heading3' },
		{ model: 'heading4', view: 'h4', title: 'Heading 4', class: 'ck-heading_heading4' },
		{ model: 'heading5', view: 'h5', title: 'Heading 5', class: 'ck-heading_heading5' },
		{ model: 'heading6', view: 'h6', title: 'Heading 6', class: 'ck-heading_heading6' }
	  ]
	},
	placeholder: 'Votre texte ici!',
	fontFamily: {
	  options: [
		'default',
		'Arial, Helvetica, sans-serif',
		'Courier New, Courier, monospace',
		'Georgia, serif',
		'Lucida Sans Unicode, Lucida Grande, sans-serif',
		'Tahoma, Geneva, sans-serif',
		'Times New Roman, Times, serif',
		'Trebuchet MS, Helvetica, sans-serif',
		'Verdana, Geneva, sans-serif'
	  ],
	  supportAllValues: true
	},
	fontSize: {
	  options: [10, 12, 14, 'default', 18, 20, 22],
	  supportAllValues: true
	},
	htmlSupport: {
	  allow: [
		{
		  name: /.*/,
		  attributes: true,
		  classes: true,
		  styles: true
		}
	  ]
	},
	htmlEmbed: {
	  showPreviews: true
	},
	link: {
	  decorators: {
		addTargetToExternalLinks: true,
		defaultProtocol: 'https://',
		toggleDownloadable: {
		  mode: 'manual',
		  label: 'Downloadable',
		  attributes: {
			download: 'file'
		  }
		}
	  }
	},
	mention: {
	  feeds: [
		{
		  marker: '@',
		  feed: [
			'@apple', '@bears', '@brownie', '@cake', '@cake', '@candy', '@canes', '@chocolate', '@cookie', '@cotton', '@cream',
			'@cupcake', '@danish', '@donut', '@dragée', '@fruitcake', '@gingerbread', '@gummi', '@ice', '@jelly-o',
			'@liquorice', '@macaroon', '@marzipan', '@oat', '@pie', '@plum', '@pudding', '@sesame', '@snaps', '@soufflé',
			'@sugar', '@sweet', '@topping', '@wafer'
		  ],
		  minimumCharacters: 1
		}
	  ]
	},

	removePlugins: [
	  // These two are commercial, but you can try them out without registering to a trial.
	  // 'ExportPdf',
	  // 'ExportWord',
	  'CKBox',
	  'CKFinder',
	  'EasyImage',
	  // This sample uses the Base64UploadAdapter to handle image uploads as it requires no configuration.
	  // https://ckeditor.com/docs/ckeditor5/latest/features/images/image-upload/base64-upload-adapter.html
	  // Storing images as Base64 is usually a very bad idea.
	  // Replace it on production website with other solutions:
	  // https://ckeditor.com/docs/ckeditor5/latest/features/images/image-upload/image-upload.html
	  // 'Base64UploadAdapter',
	  'RealTimeCollaborativeComments',
	  'RealTimeCollaborativeTrackChanges',
	  'RealTimeCollaborativeRevisionHistory',
	  'PresenceList',
	  'Comments',
	  'TrackChanges',
	  'TrackChangesData',
	  'RevisionHistory',
	  'Pagination',
	  'WProofreader',
	  // Careful, with the Mathtype plugin CKEditor will not load when loading this sample
	  // from a local file system (file://) - load this site via HTTP server if you enable MathType
	  'MathType'
	]
  });
    </script>
    {{!-- REMOVE --}}
    <script>

      const isVerified1{{this.id_enigme}} = document.getElementById('isVerified1{{this.id_enigme}}')
      const vrf{{this.id_enigme}} = {{this.is_Verified}}
      if (vrf{{this.id_enigme}}.toString() === "1" ) isVerified1{{ this.id_enigme }}.checked = true;

      console.log('test', isVerified1{{this.id_enigme}}, typeof vrf{{this.id_enigme}}, (vrf{{this.id_enigme}}.toString() === "1"))

    </script>

    {{/each}}
    {{!-- ckeditor boucle --}}

  </div>

  {{!--------------------------------------------------------------------------}}
  {{!--------------------------------------------------------------------------}}
  {{!-- Fin des énigmes proposées --}}
  {{!--------------------------------------------------------------------------}}
  {{!--------------------------------------------------------------------------}}




  <div class="tab-pane fade p-0" id="pills-message" role="tabpanel" aria-labelledby="pills-message-tab" tabindex="0">
    {{!--------------------------------------------------------------------------}}
    {{!--------------------------------------------------------------------------}}
    {{!--------------------------------------------------------------------------}}
    {{!--------------------------------------------------------------------------}}
    {{!-- Message recus --}}
    {{#each dbMessage}}
    <div class="col-md-12 bg-dark m-0 text-light  mb-1 row  p-0">
      <div class="col-md-2 bg-success d-flex justify-content-center align-items-center">

        <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        <div class="center">
          <h2>{{this.name}} </h2>
        </div>

      </div>
      <div class="col-md-8">
        <h3 class="text-left"><a href="#" class="text-decoration-none text-light">Sujet: {{this.sujet}}</a></h3>
        <p class="text-left">Message: {{this.message}}</p>

      </div>
      <div class="col-md-1 d-flex justify-content-center align-items-center">
        <form action="/deleteMessage/{{this.id}}?_method=DELETE" method="post">
          <button type="submit" class="btn btn-labeled btn-danger">
            <span class="btn-label"><i class="fa fa-check m-1"></i></span>Suprimer
          </button>
        </form>

      </div>
      <form action="/mail" method="post" class="col-md-1 d-flex justify-content-center align-items-center">
        <div class="col-md-1 d-flex justify-content-center align-items-center">
          <button type="button" class="btn btn-labeled btn-light" data-bs-toggle="modal"
            data-bs-target="#messageModal{{@index}}">
            <span class="btn-label"><i class="fa fa-check m-1"></i></span>Répondre
          </button>
        </div>
      </form>

    </div>
    {{!--------------------------------------------------------------------------}}
    {{!--------------------------------------------------------------------------}}
    {{!-- Fin Message recus --}}
    {{!--------------------------------------------------------------------------}}
    {{!--------------------------------------------------------------------------}}

    {{/each}}
  </div>





  <div class="tab-pane fade" id="pills-utilisateur" role="tabpanel" aria-labelledby="pills-utilisateur-tab"
    tabindex="0">
    {{#each dbMembres}}

    <div class="col-md-12 bg-dark border-top border-success border-5 text-light m-0 row mb-1">
      {{!--------------------------------------------------------------------------}}
      {{!--------------------------------------------------------------------------}}
      {{!-- Membres du site --}}
      {{!--------------------------------------------------------------------------}}
      {{!--------------------------------------------------------------------------}}

      <div
        class="col-md-2 bg-success d-flex justify-content-center align-items-center border-light border-bottom border-2">

        <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        <div class="center">
          <h2> {{ this.name }} </h2>
        </div>

      </div>
      <div class="col-md-3  d-flex justify-content-center align-items-center border-light border-bottom border-2">
        <h3 class="text-center"><a href="#" class="text-decoration-none text-light center fs-5 ">{{this.email}}</a>
        </h3>

      </div>

      <div class="col-md-7 d-flex justify-content-center align-items-center border-light border-bottom border-2">

        <form action="/checkRoles?_method=PUT" method="post" class="d-flex justify-content-center align-items-center">
          <button type="button" class="h-50 d-flex align-items-center btn btn-labeled btn-light m-3" name="isAdmin">
            <div class="form-check form-switch">
              <span class="btn-label"><i data-bs-toggle="popover" data-bs-placement="top"
                  data-bs-content="Administrateur" class="fs-4 fa-solid fa-image-portrait text-dark"></i></span>
              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault1">
            </div>
          </button>

          <button type="button" class="h-50 d-flex align-items-center btn btn-labeled btn-light m-3" name="isBan">
            <div class="form-check form-switch">
              <span class="btn-label"><i data-bs-toggle="popover" data-bs-placement="top"
                  data-bs-content="Utilisateur banni" class="fs-4 fa-solid fa-user-slash text-danger"></i></span>
              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
            </div>
          </button>
          

          <button type="submit"
            class="h-50 w-50 btn btn-labeled btn-light mt-3 mb-3 d-flex  justify-content-center align-items-center m-3">
            <a class="text-decoration-none">
              <div class="row">

                <p class="d-flex align-items-center m-1 p-0 h-100">Modifier</p>
              </div>
            </a>
          </button>
        </form>
        <button type="button" class="h-50 d-flex align-items-center btn btn-labeled btn-light m-3" name="isVerifiedUser">
            <div class="form-check form-switch">
              <span class="btn-label"><i data-bs-toggle="popover" data-bs-placement="top"
                  data-bs-content="Utilisateur verifier" class="fs-4 fa-solid fa-user-check text-warning"></i></span>
              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
            </div>
          </button>
        <button type="button"
          class="h-50 w-25 btn btn-labeled btn-light mt-3 mb-3 d-flex justify-content-center align-items-center m-0 p-0">
          <a class="text-decoration-none" href="/profil/{{this.id}}">
            <div class="row">

              <p class="d-flex align-items-center m-0">Profil<span class="btn-label"><i
                    class="fs-4 fa-solid fa-eye text-success m-3"></i></span></p>
            </div>
          </a>
        </button>
      </div>
      <div class="col-md-5 d-flex justify-content-center align-items-center border-light border-bottom border-2">









      </div>
      <script src="/assets/js/popoverEverywhere.js"></script>
      {{!--------------------------------------------------------------------------}}
      {{!-- Fin des membres du site --}}
      {{!--------------------------------------------------------------------------}}

    </div>
      {{!-- <script src="../../../public/js/adminCheck.js"></script> --}}


    {{/each}}
  </div>






  {{! End Pills }}
  {{! bas de page }}

</div>
</div>

{{!--------------------------------------------------------------------------}}
{{!--------------------------------------------------------------------------}}
{{!--------------------------------------------------------------------------}}
{{!--------------------------------------------------------------------------}}
{{! modal de réponse au message }}
{{#each dbMessage}}

<div class="modal fade bg-success" id="messageModal{{@index}}" data-bs-backdrop="static" data-bs-keyboard="false"
  tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-dark">
      <div class="modal-header bg-light">
        <h5 class="modal-title text-dark" id="staticBackdropLabel">Réponse au utilisateurs</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <form action="/mailReply" method="post" class="opacity-75 p-5">
        <div class="col-md-12">
          <div class="mb-6">
            <label for="exampleInputEmail1" class="form-label">Mon nom d'utilisateur</label>
            <input name="id_user" type="text" value="{{this.name}}" class="form-control" aria-describedby="emailHelp" />
          </div>
          <div class="mb-6">
            <label for="exampleInputPassword" class="form-label mt-2">Mon email:</label>
            <input name="email" type="email" value="{{this.email}}" class="form-control" />
          </div>
        </div>

        <p>Sujet<br />
          <span class="wpcf7-form-control-wrap menu-742">
            <input name="sujet" type="text" class="form-control" value="{{this.sujet}}" />
          </span>
        </p>
        <div class="container">
          <div class="row">
            <label for="exampleInputEmail1" class="form-label p-0">Tapez votre message ci-dessous</label>
            <textarea name="content" placeholder="Votre text içi" cols="70" rows="5"></textarea>

          </div>
          <div class="container">
            <div class="row d-flex justify-content-center">
              <button type="submit" class="mt-2 w-auto btn btn-primary">Envoyer</button>
            </div>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>
{{/each}}

{{!--------------------------------------------------------------------------}}
{{!--------------------------------------------------------------------------}}
{{!--------------------------------------------------------------------------}}
{{!--------------------------------------------------------------------------}}