<div class="col-md-12 mh100 pe-5 ps-5">
  {{!-- Condition si "db" est true --}}
{{!-- {{#if enigmes == true}} --}}
  {{#each enigmes}}
{{! énigme bg-succes}}
<div class="col-md-12 bg-success m-0 row mb-3 border-success border-3">
  <div class="col-md-2 d-flex justify-content-center align-items-center">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<div class="center">
  <label class="label">
    <input  class="label__checkbox" type="checkbox" disabled="disabled" />
    <span class=" label__text ">
      <span class="label__check " id="check" onclick="colorCheckbox(this.id)" >
        <i class="fa fa-check icon"></i>
      </span>
    </span>
  </label>
</div>
  </div>
  <div class="col-md-10  border-start-2 border-light p-3 ">
    <form action="">
      <h3 {{@index}} | class="text-left "> <a href="/enigme/{{this.id_enigme}}" class="text-decoration-none text-light">{{this.titre}}</a></h3>
    <p class="text-left">
        {{{this.content}}}
        </p>
        <p>{{ this.is_Verified }}</p>
    </form>
    
    </div>
</div>
{{/each}}
{{!-- fin des énigmes --}}

{{!-- {{else}} --}}
</div>
